@import 'nav-mixins';

@mixin navigation($config) {
  @include nav-container {
  }

  @include nav-icons {
    display: none;
    width: 0;
    height: 0;
  }

  @include nav-header {
    background: none;
    text-align: left;
    padding: 10px;
    font-size: mat-font-size($config, body-2);
    @include separator;
  }

  @include nav-elem-link {
    @include button-expand(true);
    @include button-style($bg-color-nav, auto, auto);
    padding: 10px 0 10px 0px;
    text-decoration: none;
  }

  @include nav-elem {
    display: flex;
  }

  @include nav-content-separator {
    background: none;
  }

  @include contest-name {
    font-size: mat-font-size($config, body-1) !important;
  }
}
