@mixin problem-table {
  table:nth-child(1) tbody:nth-child(1) tr:nth-child(3) td:nth-child(1) > table:nth-child(1) {
    @content;
  }
}

@mixin show-problems-from-to-row {
  td:nth-child(1) table:nth-child(2) tbody:nth-child(1) tr:nth-child(1) {
    @content;
  }
}

@mixin lookup-problems-row {
  td:nth-child(1) table:nth-child(2) tbody:nth-child(1) tr:nth-child(2) {
    @content;
  }
}
