@mixin post {
  table:nth-child(2) tbody:nth-child(1) tr:nth-child(2) td:nth-child(1) > table:nth-child(1) {
    @content;
  }
}

@mixin post-table {
  table:nth-child(1) tbody:nth-child(1) table:nth-child(2) table:nth-child(1) tr:nth-child(2) td:nth-child(1) > table:nth-child(2) {
    @content;
  }
}

@mixin content-title {
  table:nth-child(2) tbody:nth-child(1) tr:nth-child(1) td:nth-child(1) > h1:nth-child(1),
  table:nth-child(1) tbody:nth-child(1) tr:nth-child(1) td:nth-child(1) > h1:nth-child(1),
  table:nth-child(1) tbody:nth-child(1) tr:nth-child(1) td:nth-child(1) > h1:nth-child(1),
  table:nth-child(1) tbody:nth-child(1) tr:nth-child(1) td:nth-child(1) > h1:nth-child(1),
  center > h1:nth-child(1) {
    @content;
  }
}

@mixin contest-problems {
  tbody:nth-child(1) tr:nth-child(2) td:nth-child(1) center:nth-child(3) > table:nth-child(2) {
    @content;
  }
}

@mixin contest-group-stats {
  table:nth-child(1) tbody:nth-child(1) tr:nth-child(1) td:nth-child(1) > table:nth-child(3) {
    @content;
  }
}

@mixin welcome-title {
  tbody:nth-child(1) tr:nth-child(2) td:nth-child(1) div:nth-child(1) > b:nth-child(1) {
    @content;
  }
}
