@import '../node_modules/foundation-sites/scss/foundation.scss';
@import '../node_modules/@angular/material/theming';

@import 'variables';
@import 'shared/mixins';
@import 'mixins';

@import './nav/nav-styles';
@import './problemset-archive/problemset-archive-styles';
@import './contests/contests-styles';
@import './forms/form-styles';
@import './status/status-styles';
@import './contest-menu/contest-menu-styles';

$config: mat-typography-config();

body {
  background: $bg-color-nav;
}

table {
  border-collapse: collapse;
}

@include post {
  @include table(none, true);
  @include shadow;
  background: none !important;
  border: none !important;
  padding: 25px;
}

@include contest-problems {
  @include bacs-table;
}

@include content-title {
  @include shadow;
  background-color: white;
  border: none;
  padding: 10px;
}

@include pagination-link {
  @include pagination-item-current;
  color: inherit;
  background: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: transparentize(#000000, 0.9);
  }
}

@include pagination-current-link {
  @include pagination-item-current;
}

@include contest-group-stats {
  @include bacs-table;
}

@include welcome-title {
  display: none;
}

@include main-content {
  padding: 0 10px;
}

@include problemset-archive($config);
@include navigation($config);
@include virtual-contest($config);
