@import 'variables';
@import 'mixins';
@import '../node_modules/foundation-sites/scss/foundation.scss';
@import './nav/nav-styles';
@import './leaderboard/leaderboard-styles';

body {
  background: $bg-color-nav;
}

table {
  border-collapse: collapse;
}

@include post {
  @include shadow;
  background: none !important;
  border: none !important;
}

@include post-table {
  @include table(none, true);
}